In [4]:
s = 'New York'
print (s)

New York

In [2]:
print (type(s))

<class 'str'>

In [3]:
print (len(s)) # berapa panjang string

9

In [6]:
# Assign s as a string
s = 'Hello World'
print (s)

Hello World

In [8]:
# Show first element (in this case a letter)
print (s[0])

H

In [9]:
# Show the second element (also a letter)
print (s[1])

e

In [10]:
print (s[5])

In [11]:
s1 = 'Hello'
s2 = 'World'
print (s1 + s2)

HelloWorld

In [12]:
print (s1 + " " + s2)

Hello World

In [13]:
# repetition (multiplication)
print ("Hello_" * 3)

Hello_Hello_Hello_

In [14]:
print ("_"*10)

__________

In [15]:
print ("Hello_" * 10)

Hello_Hello_Hello_Hello_Hello_Hello_Hello_Hello_Hello_Hello_

In [16]:
s = "Namaste World"

In [17]:
# print sub strings
print (s[1])

a

In [18]:
print(s[6:11]) #This is known as slicing.

e Wor

In [19]:
print (s[-5:-1])

Worl

In [20]:
# test substring membership
print ("wor" in s)

False

In [22]:
s = "Hello World"

In [24]:
## Convert all the element of the string to Upper case..!!
print (s.upper())

HELLO WORLD

In [25]:
## Convert all the element of the string to Lower case..!!
print (s.lower())

hello world

In [28]:
name = "Einsten"
age = 22
married = True

print ("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))

My name is Einsten, my age is 22, and it is True that I am married

In [29]:
print ("My name is {}, my age is {}, and it is {} that I am married".format (name, age, married))

My name is Einsten, my age is 22, and it is True that I am married

# Basic Arithmetic

In [30]:
# Addition
print (2+1)

3

In [31]:
# Subtraction
print (2-1)

1

In [32]:
# Multiplication
print (2*2)

4

In [33]:
# Division
print (3/4)

0.75

In [34]:
print (3/2)

1.5

# Arithmetic continued

In [35]:
# Powers
2**3

8

In [36]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [37]:
# Can use parenthesis to specify orders
(2+10)*(10+3)

156